services:
  mongo:
    image: mongo:7
    container_name: energy_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: energy_db
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: energy_backend
    command: npm run dev
    ports:
      - "3333:3333"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongo
    env_file:
      - .env

volumes:
  mongo_data:
