.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 72px;
  margin-bottom: 48px;

  background: linear-gradient(135deg, var(--primary), var(--primary-hover));
  border-radius: var(--radius);
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  color: #ffffff;
}

.title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
  color: #ffffff;
}
